# Simula um atraso de X milissegundos na execução de ações.
SIMULATED_DELAY_MS=0;

# Tamanho máximo em bytes para upload de imagens.
NEXT_PUBLIC_IMAGE_UPLOAD_MAX_FILE_SIZE=921600;
# Diretório onde as imagens serão salvas.
IMAGE_UPLOAD_DIRECTORY=uploads
# URL base para acesso às imagens no servidor.
IMAGE_SERVER_URL='http://localhost:3000/uploads'
